# Dependencies
node_modules

# Build
dist

# Environment
.env
.env.local
.env.*.local

# Logs / debug
npm-debug.log*
*.log

# OS
.DS_Store
Thumbs.db

# Editor
.idea
.vscode/*
!.vscode/extensions.json

# Vite
*.local
